@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #eae2b7;
  --navColor2: #fcbf49;
  --navColor3: #f77f00;
  --navColor4: #d62828;
  --navColor5: #003049;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Nunito, sans-serif;

}

/* --- Navigation Menu ------------------------------ */
/* overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0,0,0,0.1); */
  transform: translateX(-100vw);
  transition: all 0.4s ease-in-out;
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}
.overlay-slide-left {
  transition: all 0.4s ease-in-out;
  transform: translateX(-100vw); 
} 

/* Nav menu items */
nav, 
nav ul{
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  list-style: none;
}

nav ul li {
  height: 20vh;
  overflow: hidden;
}

nav li a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 20vh;
  height: 100%;
}

nav li a::before {
  content: "";
  width: 6vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 30%;
  opacity: 0;
}

nav li:hover a::before {
  opacity: 1;
}

nav li:hover {
  font-size: larger;
}
nav li:nth-of-type(1){
  background-color: var(--navColor1);
}
nav li:nth-of-type(2){
  background-color: var(--navColor2);
}
nav li:nth-of-type(3){
  background-color: var(--navColor3);
}
nav li:nth-of-type(4){
  background-color: var(--navColor4);
}
nav li:nth-of-type(5){
  background-color: var(--navColor5);
}

/* Slide in animation  */
.slide-in-1{animation: slide-in 0.3s ease-in-out 0.1s both;}
.slide-in-2{animation: slide-in 0.3s ease-in-out 0.2s both;}
.slide-in-3{animation: slide-in 0.3s ease-in-out 0.3s both;}
.slide-in-4{animation: slide-in 0.3s ease-in-out 0.4s both;}
.slide-in-5{animation: slide-in 0.3s ease-in-out 0.5s both;}
@keyframes slide-in {from {transform: translateX(-100vw);} to {transform: translateX(0);}}

/* Slide OUT animation  */
.slide-out-1{animation: slide-out 0.3s linear 0.1s both;}
.slide-out-2{animation: slide-out 0.3s linear 0.1s both;}
.slide-out-3{animation: slide-out 0.3s linear 0.1s both;}
.slide-out-4{animation: slide-out 0.3s linear 0.1s both;}
.slide-out-5{animation: slide-out 0.3s linear 0.1s both;}
@keyframes slide-out {from {transform: translateX(0);} to {transform: translateX(-100vw);}}

/* --- Menu Bars ------------------------------------ */
.menu-bars {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;

}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 8px 0;
}

/* turn bars animation  */
.turn{animation: turn 0.3s linear both;}
@keyframes turn {from {transform: rotate(0);} to {transform: rotate(-90deg);}}

/* turn bars back animation  */
.turn-back{animation: turn-back 0.3s linear both;}
@keyframes turn-back{from {transform: rotate(-90deg);} to {transform: rotate(0);}}


/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("https://images.unsplash.com/photo-1632714395151-aa853eac30e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3228&q=80");
  background-size: cover;
  background-position: center center;

}

#home a {
  position: absolute;
  z-index: 2;
  top: 2.25rem;
  right: 7rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--navColor3);
}

section#about {
  background-color: var(--navColor2);
}

#about h1{
  margin: 0 0 40px 0 ;
}

#about .about-container{
  display: flex;
  gap: 30px;
  margin: 20vw;
  align-items: flex-start;
  justify-content: center; 
}

#about img {
  border-radius: 1rem;
  box-shadow: 0 15px 30px 5px rgba(0,0,0,0.3);
  width: 100%;

}

section#projects {
  background-color: var(--navColor3);
  flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 2rem auto 10vh auto;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

#myUL{
  text-decoration: none;
}
li .a {
	text-decoration: none;
}

section#skills {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 1000px) {
  section#home a {
  font-size: 1rem;
    top: 1.2rem;
    right: 5rem;
  }
  .bar1,
  .bar2,
  .bar3 {
  background-color: rgb(168, 168, 168);
}

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
  section#about .about-container{
    flex-direction: column-reverse;
  }
  section#about img {
    width: 60vw;
    height: auto;
  }

  
}
